# Задание 
1. Загрузить корпус текстовых данных с помощью DataFrame – бд Рубцовой (2 файла). ✅
2. Каждый файл сократить до 5000 строк. Объиденить 2 файла в один DaraFrame. ✅
3. Проверить пропущенные значения. Создать колонку с длиной текстов. Вычислить среднюю, медиану и моду.
4. Выполнить визуальный анализ текстового корпуса Рубцовой. Построить минимум 5 графиков, минимум по 1 из каждой библиотеки. Выбрать один график и полностью описать атрибуты используемого метода. 
5. Предобработать тексты, используя ЛР1.
6. Получить вектора признаков для каждого текста с помощью, BoW и TF-IDF.
7. Сохранить полученные вектора в файле.

## Раздел 0: Импорты библиотек и исходных данных
### 0.0 Импорты необходимых библиотек

In [1]:
import pandas as pd

### 0.1 Создаем таблицу для хранения данных в DataFrame

In [2]:
# Specify the column names
columns = [
    "id", "tdate", "tname", "ttext", "ttype", 
    "trep", "tfav", "tstcount", "tfol", 
    "tfrien", "listcount"
]

positive_df = pd.read_csv("positive.csv", delimiter=";", names=columns, nrows=5000)
negative_df = pd.read_csv("negative.csv", delimiter=";", names=columns, nrows=5000)

combined_df = pd.concat([positive_df, negative_df], axis=0)
print(f"Размер DataFrame (строки, столбцы): {combined_df.shape}")
combined_df.head()

Размер DataFrame (строки, столбцы): (10000, 11)

,id,tdate,tname,ttext,ttype,trep,tfav,tstcount,tfol,tfrien,listcount
408906692374446080,1386325927,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1,0,0,0,7569,62,61,0
408906692693221377,1386325927,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1,0,0,0,11825,59,31,2
408906695083954177,1386325927,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1,0,1,0,1273,26,27,0
408906695356973056,1386325927,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1,0,1,0,1549,19,17,0
408906761416867842,1386325943,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1,0,0,0,597,16,23,1